<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Page Title</title>
</h:head>
<h:body>
	<p:panel header="Estados - Listagens" >
		<p:dataTable var="car" value="#{dtBasicView.estados}">
		    <p:column headerText="Nome">
		        <h:outputText value="#{estado.nome}" />
		    </p:column>
		 
		    <p:column headerText="Sigla">
		        <h:outputText value="#{estado.sigla}" />
		    </p:column>
		</p:dataTable>
	</p:panel>
	<br></br>
    <p:panel id="basic" header="Basic" footer="Movie Details" style="margin-bottom:20px">
        <h:panelGrid columns="2" cellpadding="10">
            <p:graphicImage name="https://www.primefaces.org/showcase/javax.faces.resource/demo/images/godfather/godfather2.jpg.xhtml" />
            <h:outputText
                value="The story begins as Don Vito Corleone..." />
        </h:panelGrid>
		<h1><h:outputText value = "Hello!"></h:outputText></h1>
		<h2><h:outputText value = "Hello nada, amassou foi-se tudo!"></h:outputText></h2>
    </p:panel>
    <br></br>
    <p:panel id="toggleable" header="Toggleable" toggleable="true" closable="true" toggleSpeed="500" closeSpeed="500" widgetVar="panel" style="margin-bottom:20px">
 

 
         <h:panelGrid columns="2" cellpadding="10">
            <p:graphicImage name="demo/images/godfather/godfather2.jpg" />
            <h:outputText value="Francis Ford Coppola's legendary continuation..." />
        </h:panelGrid>
 
        <f:facet name="options">
            <p:menu>
                <p:submenu label="Settings">
                    <p:menuitem value="Toggle" url="#" icon="ui-icon-newwin" onclick="PF('panel').toggle()" />
                    <p:menuitem value="Remove" url="#" icon="ui-icon-close" onclick="PF('panel').close()" />
                </p:submenu>
            </p:menu>
        </f:facet>
    </p:panel>

</h:body>
</html>